# Azure AD
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

# SharePoint
SHAREPOINT_SITE_URL=
SHAREPOINT_CA_LIST_NAME=ChiffreAffaire
SHAREPOINT_ENGAGEMENT_LIST_NAME=Engagement
SHAREPOINT_DOCUMENTS_LIBRARY=Documents

# IA
OPENROUTER_API_KEY=

# App
SECRET_KEY=
ENVIRONMENT=development
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
